<mat-toolbar color ='primary'>
  <span>who do you need childcare for?</span>
</mat-toolbar>

<div class='container'
  fxLayout='column'
  fxLayoutGap = "10px"
  fxLayoutAlign = 'center center'>

  <mat-chip-list class=chip_list_num_kids>
    <mat-chip color='primary'>1</mat-chip>
    <mat-chip>2</mat-chip>
    <mat-chip>3</mat-chip>
    <mat-chip>4</mat-chip>
    <mat-chip>more</mat-chip>
    <mat-chip color='primary' selected>primary</mat-chip>
      <mat-chip color='secondary' selected>accent</mat-chip>
  </mat-chip-list>
</div>
