<div class='container'
  fxLayout='column'
  fxLayoutGap = "10px">

  <div fxFlex='100%' fxLayoutAlign='center center'>
    <img fxFlex='100%' src='../assets/images/b_w_header_feet_wide.png' alt='child_thinking'/>

    <div class='overlay'>
      <app-wheredaycare></app-wheredaycare>
    </div>

  </div>

<div class='container'
  fxLayout = 'row'
  fxLayoutAlign.gt-md='space-around center'
  fxLayoutGap='10px'>

  <mat-card *ngIf='dish' fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{dish.daycare_name | uppercase }}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{BaseURL + dish.daycare_image}}" alt='{{dish.daycare_name}}'>
    <mat-card-content>
      <p>{{ dish.daycare_address }}</p>
    </mat-card-content>
  </mat-card>
  <div fxFlex [hidden] = 'dish'>
    <mat-spinner></mat-spinner><h4>loading ... please wait</h4>
</div>

  <mat-card *ngIf='promotion' fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{promotion.daycare_name | uppercase }}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src='{{promotion.daycare_image}}' alt='{{promotion.daycare_name}}'>
    <mat-card-content>
      <p>{{ promotion.daycare_description }}</p>
    </mat-card-content>
  </mat-card>

</div>
  <app-whendaycare></app-whendaycare>

  <app-numberofkids></app-numberofkids>

</div>
