<mat-toolbar color ='primary'> <span>where do you need childcare?</span> </mat-toolbar>

<div class='container'
  fxLayout='column'
  fxLayoutGap = "10px">


  <div class='search_box' fxFlex fxLayout = 'column' fxLayoutAlign='center center' fxLayoutGap='10px'>
    <button class='search_button' mat-fab routerLink = '/map' color='primary'><i class="fa-solid fa-location-dot fa-2x fa-inverse"></i></button>
    <div fxFlex class='search_near_me_text'><span>search near me</span></div>
      <!-- <div fxFlex> -->



        <!-- when i add this in, the other components change their appearance (shrink...)
        <mat-form-field>
        <mat-label></mat-label>
        <input placeholder = 'enter an address'>
        </mat-form-field> -->

      <!-- </div> -->
    </div>
  </div>
